<a href ="stud/insert">Insert</a><br /><br />
<a href="stud/update">update</a>
<br />
<br />
<a href="stud/delete">delete</a>
<br />
<br />
<a href="stud/getall">getall</a>
<br />
<br />
<a href="stud/sort">sort</a>
<br />
<br />
<a href="stud/findbyname">find by name</a>
<br />
<br />