<form action="/stud/index" method="post">
    <input type="text" name="email" placeholder="email" />
    <br /><br />
    <input type="text" name="pwd" placeholder="pwd" />
    <br /><br />
    <button type="submit">Submit</button>
</form>