<form action="/stud/insert" method="post">
    <input type="text" name="student_Id" placeholder="student_Id" /><br /><br />
    <input type="text" name="student_name" placeholder="student_name" /><br /><br />
    <input type="text" name="student_email_id" placeholder="student_email_id" /><br /><br />
    <input type="text" name="mobile_no" placeholder="mobile_no" /><br /><br />
    <input type="text" name="student_address" placeholder="student_address" /><br /><br />
    <input type="text" name="admission_date" placeholder="admission_date" /><br /><br />
    <input type="text" name="fees" placeholder="fees" /><br /><br />
    <input type="text" name="status" placeholder="status" /><br /><br />
    <button type="submit">Submit</button>
</form>