<form action="/stud/viewdata" method="post">
    <input type="text" name="email" placeholder="email" /><br />
    <input type="text" name="mob" placeholder="mob" /><br />
    <button type="submit">Submit</button>
</form>