<form action="/stud/viewstuddata" method="post">
    <input type="text" name="email" placeholder="email" />
    <br /><br />
    <input type="text" name="mob" placeholder="mob" />
    <br /><br />
    <button type="submit">Submit</button>
</form>