<a href="/stud/insert">Add Student</a>
<br /><br />
<a href="/stud/update">Update Student</a>
<br />
<br />
<a href="/stud/delete">Delete Student</a>
<br />
<br />
<a href="/stud/getall">Get All Student</a>
<br />
<br />
<a href="/stud/getbystatus">Get By Status</a>
<br />
<br />
<a href="/stud/sortstud">Sort Stud</a>
