<h2>Student</h2><br /><br />
<form action="/stud/student" method="post">
    <input type="text" name="email" placeholder="email" /><br /><br />
    <input type="text" name="mob" placeholder="mob" /><br /><br />
    <button type="submit">submit</button>
</form>