<h2>
    Welcome
</h2>
<form action="/movie/index" method="post">
<input type="text" name="email" placeholder="email" />
<br /><br />
<input type="password" name="password" placeholder="password" />
<br /><br />
<button type="submit" >Submit</button>
</form>