<h1>Welcome</h1>
<a href="/crud/addproduct">Add product</a><br />
<a href="/crud/editproduct">edit product</a><br />
<a href="/crud/deleteproduct">delete product</a><br />
<a href="/crud/getall">get all product</a>